*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    padding: 40px 0;
}
.bgcolor{
    background-color: #0020F4;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.jc-space-between{
    justify-content: space-between;
}
.align-item-center{
    align-items: center;
}
.font-size{
    font-size: 16px;
}
.color{
    color:#ffffff;
}
.color-black{
    color: #171717;
}
nav li{
    margin: 0 10px;
}
nav div{
    margin-left: 25px;
}
.line{
    width: 30px;
    height: 1px;
    background-color: #ffffff;
    margin: 8px auto;
}
.contact-div{
    margin-left: 40px;
    background-color: #FFFFFF;
    border-radius: 28px;
    width: 160px;
    height: 55px;
    padding: 18px 43px;
}
.image-1{
     width: 500px;
     margin-top: 55px;
}
.image-2{
    width: 760px;
    margin-left: 25px;
}
section{
    padding: 90px 0;
    margin-bottom: 100px;
}
.circle{
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    opacity: 0.3;
    border-radius: 50%;
    margin: 6px;
}
.circle-div{
    margin-top: 50px;
}
.bg-white{
    opacity: 1;
}
.width{
    width: 400px;
}
.image-about{
    width: 700px;
    margin:80px 0 20px 100px;
    box-shadow: 10px 10px #0A22F4 ;
    border-radius: 20px;
}
.image-services{
    width: 700px;
    height: 700px;
    object-fit: cover;
    margin:150px 60px 20px 100px;
    box-shadow: -10px 10px #0A22F4 ;
    border-radius: 20px;
}
.title{
    margin-bottom: 50px;
}
.font{
    font-family: "Helvetica Neue LT W01 55 Roman";
}